body { 
    margin: 0; /* Remove the default margin */
}

#image-row { 
    /* Use flexbox to arrange the images in a row */
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 40px;
}

img { 
    /* Prevent images from exceeding the width of their parent */
    max-width: 100%;
    height: auto;
}

#img-A {
    transition: all 1s ease-in-out;
}

#img-B {
    filter: grayscale();
    rotate: 0deg;
    transition: all 1s ease-in-out;
}

#img-B:hover {
    rotate: 9999999deg;
}

#img-C {
    filter:opacity(89%);
}

#img-A:hover {
    border-radius: 99px;
    filter: grayscale();
    background: #e0e0e0;
    box-shadow:  20px 20px 0px #5a5a5a, -20px -20px 0px #ffffff;
}

#click-me {
    /* Centre the button */
    display: block;
    margin: auto;

    /* Style the button to look nice */
    background-color: black;
    color: white;
    border: none;
    padding: 10px;

    font-size: 2em;
    font-weight: bold;
}
